@model IEnumerable<DersaneOtomasyon.Data.Model.Alan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlanAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlanAciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlanId })
        </td>
    </tr>
}

</table>
