@model DersaneOtomasyon.Data.Model.Ogrenci

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alan.AlanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alan.AlanAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Okul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Okul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciTc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciTc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrenciId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
