@model IEnumerable<DersaneOtomasyon.Data.Model.Ogrenci>

@{
    ViewBag.Title = "Öğrenci | Anasayfa";
}

<h2>Öğrenciler</h2>

<p>
    @Html.ActionLink("Yeni Öğrenci", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alan.AlanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Okul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciTc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alan.AlanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Okul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciTc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OgrenciId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OgrenciId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OgrenciId })
        </td>
    </tr>
}

</table>
