@model IEnumerable<DersaneOtomasyon.Data.Model.Ogrenci>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.OgrenciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyadi) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alan.SinifAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktifMi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.OgrenciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alan.SinifAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogumTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KayitTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AktifMi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.OgrenciId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.OgrenciId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.OgrenciId })
        </td>
    </tr>
}

</table>