@model DersaneOtomasyon.Data.Model.Veli

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Veli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ogrenci.OgrenciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ogrenci.OgrenciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VeliAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeliAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VeliAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeliAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VeliId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
