@using System.Web.UI.WebControls

@model IEnumerable<DersaneOtomasyon.Data.Model.Odeme>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.SelectedOgrenci.OgrenciAdi Adlı Öğrencinin Odeme Bilgileri</h2>
<p>@ViewBag.SelectedOgrenci.Fiyat tl Fiyat İle Anlaşıldı.</</p>
<p>@Html.ActionLink("Yeni Ödeme Ekle", "Create", "Odeme", new { id = ViewBag.SelectedOgrenci.OgrenciId }, new { })</p>

<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.OdemeAciklama)</th>
        <th>@Html.DisplayNameFor(model => model.TaksitNo)</th>
        <th>@Html.DisplayNameFor(model => model.Fiyat)</th>

        <th></th>

    </tr>
    @Html.Hidden("selectedOgrenciId", (string)ViewBag.SelectedOgrenci.OgrenciId.ToString(), new { })

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.OdemeAciklama)
            </td>
            <td>
                @Html.DisplayFor(model => item.TaksitNo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Fiyat)
            </td>

            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.OdemeId, ogrId = ViewBag.SelectedOgrenci.OgrenciId })
                @Html.ActionLink("Sil", "Delete", new { id = item.OdemeId })
                @Html.ActionLink("Detaylar", "Details", new { id = item.OdemeId, ogrId = ViewBag.SelectedOgrenci.OgrenciId })
            </td>
            <td>
                
            </td>
        </tr>

        
    }


</table>
